@import "src/styles/variables";

.headerWrapper {
  background-size: cover;
  background: linear-gradient(180deg, #282828 0%, rgba(40, 40, 40, 0) 100%), url("./img/bgc.png"), no-repeat, 50% 50%, #ededed;

  .sectionInner {
    width: 1110px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
  }

  .headerNav {
    display: flex;
    flex-direction: column;


    .headerContacts {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 20px;

      .headerContactsItem {

      }
    }

    .headerLinks {
      display: flex;
      justify-content: space-between;

      .headerLinksItem {
        width: 25%;
        padding-top: 13px;
        padding-bottom: 13px;
        text-align: center;
        border: 1px solid #ffffff;

        &:first-child {
          border-left: none;
        }

        &:last-child {
          border-right: none;
        }

        a {
          transition: .3s;
          color: #ffffff;
          text-decoration: none;


          &:hover {
            color: darkgrey;
          }
        }
      }
    }

  }

  .headerBtns {
    display: flex;
    justify-content: space-between;
    margin-top: 580px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 50px;

    .btnItem {
      width: $base * 52.5; //Variable $base it's fucking bullshit therefore I will never use it again
      padding: $base * 4 $base * 7.5;
      background: #998431;
      border: none;
      border-radius: 2px;
      color: #ffffff;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      outline: none;
      font-weight: $fw-md;
      font-size: $fs-m;
      line-height: $base * 5;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background: darken(#998431, 5%);
        color: darkgrey;
      }
    }
  }
}



