@import "src/styles/variables";

.footerWrapper {
  background: #998431;
  color: #ffffff;
}

.sectionInner {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;

  .navUp {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    border-bottom: none;

    .navUpLinks {
      font-size: $fs-s;
      line-height: 150%;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 15%;

      a {
        transition: .3s;
        color: #ffffff;
        text-decoration: none;


        &:hover {
          color: darkgrey;
        }
      }
    }
  }

  .navDown {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .navDownItem {
      width: 25%;
      padding-top: 20px;
      padding-bottom: 20px;
      border: 1px solid #ffffff;
      border-right: none;
      font-weight: $fw-sbd;
      font-size: $fs-s;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;

      a {
        transition: .3s;
        color: #ffffff;
        text-decoration: none;


        &:hover {
          color: darkgrey;
        }
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      .logo {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;

        .logoItem {
          align-items: center;
          margin-left: 30px;
          margin-right: 30px;
        }
      }
    }
  }
}