@import "styles/normalize";
@import "styles/variables";

* {
  @include null;

  box-sizing: border-box;
}

.App {
  @include Montserrat;

  font-size: $fs-s;
  font-weight: $fw-nm;
  color: #ffffff;
}

h2 {
  @include PlayfairDisplay;

  font-size: $fs-xl;
  font-weight: $fw-bd;
}