@import "src/styles/variables";

.collectionWrapper {
  background: #e6e3c4;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #000000;
}

.sectionInner {
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
  width: 1110px;
  border-bottom: 1px solid #998431;
  border-top: 1px solid #998431;;

  .content {
    padding-right: 100px;

    .contentTitle {
      margin-bottom: 30px;
      font-size: $fs-m;
      line-height: 150%;
    }

    h2 {
      margin-bottom: 30px;
      line-height: 150%;
    }

    hr {
      width: 160px;
      border: 1px solid #282828;
    }

    .contentText {
      margin-top: 30px;
      margin-bottom: 30px;
      padding-right: 25px;
      font-size: $fs-s;
      line-height: 150%;
    }

    .table {

      .tableItem {
        display: flex;
        align-items: center;

        .tableItemDate {
          padding: 30px;
          font-size: $fs-s;
          line-height: 150%;
        }

        .tableItemContent {
          margin-left: 30px;

          .itemTitle {
            font-weight: $fw-bd;
            font-size: $fs-l;
            line-height: 150%;
          }

          .itemContent {
            font-size: $fs-s;
            line-height: 150%;
          }
        }
      }
    }

    button {
      width: 260px;
      padding: $base * 4 $base * 7.5;
      background: #998431;
      border: none;
      border-radius: 2px;
      color: #ffffff;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      outline: none;
      font-weight: $fw-md;
      font-size: $fs-m;
      line-height: $base * 5;
      transition: .3s;
      cursor: pointer;

      &:hover {
        background: darken(#998431, 5%);
        color: darkgrey;
      }
    }
  }

  .galary {
    display: grid;

    grid-template-areas:
  "img1 img1"
  "img2 img3";

    grid-template-rows: 500px 228px;
    grid-template-columns: 255px 255px;
    grid-gap: 30px;

    .galaryImg1 {
      grid-area: img1;

      img {
        border-radius: 2px;
      }
    }

    .galaryImg2 {
      grid-area: img2;

      img {
        border-radius: 2px;
      }
    }

    .galaryImg3 {
      grid-area: img3;

      img {
        border-radius: 2px;
      }
    }
  }
}